# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node modules
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Firebase
firebase-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
backend/smart-health-51e3f-firebase-adminsdk-fbsvc-8a5938ff60.json
backend/sql_app.db
frontend/dist/
